<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>レシピの編集</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    
  </head>

  <body>

    <%- include('../common/header') %>
  
  <div id="contents_main">
    <form method="post" action="/histories/add">
        <div class="contents_name">
            <h1 class="contents_sub_title contents_p_font">レシピ名</h1>
            <div class="mb-3">
                <input type="text" class="form-control" id="" value="<%= name %>">
            </div>
        </div>

        <h1 class="contents_sub_title contents_p_font">日付</h1>
        <div class="contents_form_date">
            <div class="contents_form_num contents_form_date_element">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <% var count = 1; %>
                    <% while (count <= 12) { %>
                        <% if (count != month) { %>
                            <option value="<%= count %>"><%- count %></option>
                        <% } else { %>
                            <option value="<%= count %>" selected><%- count %></option>
                        <% } %>
                        <% count++; %>
                    <% } %>
                </select>
            </div>
            <div>
                <p class="contents_p_font contents_form_date_element">/</p>
            </div>
            <div class="contents_form_num contents_form_date_element">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <% var count = 1; %>
                    <% while (count <= 31) { %>
                        <% if (count != day) { %>
                            <option value="<%= count %>"><%- count %></option>
                        <% } else { %>
                            <option value="<%= count %>" selected><%- count %></option>
                        <% } %>
                        <% count++; %>
                    <% } %>
                </select>
            </div>
        </div>

        <div class="contents_resorce">
            <h1 class="contents_sub_title contents_p_font">材料</h1>
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"><%- resorce %></textarea>
            </div>
        </div>
        
        <div class="contents_way">
            <h1 class="contents_sub_title contents_p_font">作り方</h1>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"><%- way %></textarea>
        </div>

        <div class="contents_foot_btn"><input type="submit" value="履歴を登録" class="btn btn-primary"></a></div>
    </form>
  </div>    

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>

</html>